* {
    box-sizing: border-box;
}
body {
    margin:0;
    padding:0;
    
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color:white;
}
.nav-title{
    font-size: 1.5rem;
    margin: .7rem;

}
.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar-links li {
    list-style: none;

}
.navbar-links li a {
    text-decoration: none;
    color: white;
    padding:1rem;
    display: block;
}
.navbar-links li a:hover {
    background-color:grey;
}
.container {
    background-color: black;
    width: 80vw;
    max-width:37.5em;
    padding: 3em 2.5em;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border: radius0.62em;
    box-shadow: 01.25em 1.8em;

}
.search-wrapper{
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap:1.25em ;
    
}
.search-wrapper button{
    font-size:1em ;
    background-color: white;
    color:black;
    padding:0.8em 0;
    border:none;
}